body{
    /*background-color: #0D0E26 ;*/ 
    /*background-color: #2A0859;*/
    /*background-color: #1F0840;*/
    /*background-color: #7672F2;*/
   /*background-color: #5852F2;*/
   background:  linear-gradient(#0D0E26, #1F0840);
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   color: white;
}

form{
    width: 80%;    
}

main{
    background-color: #0D0E2666;
    height: 50%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgb(88, 82, 242) 0px 0px 3px 1px;
    border-radius: 10px;
}

.button{
    text-align: left;
    float: left;
}


